.content{
    height: 30vh;
    width: 100vw;
}
.choose :not( :last-child){
    margin-right: 50px;
}

.choose{
    margin-top: 50px;
}
.composent{
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100vh;
}
.childcomposent{
    margin-top: -15vh;
}

.button{
    background: orange;
    border-color: black;
}
