.info :not(:last-child) {
  margin-right: 20px;
}
.contenu {
  margin-top: 3vh;
  margin-left: 20vw;
  margin-right: 20vw;
}
.job {
  margin-top: 10vh;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: black;
    text-align: center;
    height: 0;
    position: absolute;
  }

  .bg-light{
    width: 100vw;
    bottom: 0;
    position: absolute;
    left: 0;
  }