$font-1 : "font-1", sans-serif;

@mixin verticalCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    background-color: white;
    font-family: $font-1;
    height: 100vh;
}



